@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    background-color: #222222;
}

.poke-image{
  width: 80%;
  height: 20rem;
  
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  color: white;
}

.nav{
  display: flex;
  width: 100%;
  background-color: #f1f5f9;
  align-items: center;
  color: #222222;
  padding: 0.3rem 0px;
}

.logo{
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 3rem;
  margin-left: 10rem;
}

.searchIcon{
  width: 2rem;
  margin-left: 1rem;
}

.inputDiv{
  display: flex;
  align-items: center;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}

.inputDiv input{
  border: #222222 3px solid;
  border-radius: 10px;
  width: 20rem;
  font-size: 1.4rem;
  color: #222222;
  padding: 0.3rem 0.3rem;
}

button{
  margin-top: 5vh;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  background-color: rgb(34, 34, 34);
  color: #f1f5f9;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
}

.pokemon{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  color:#222222;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: 10px 10px 10px rgb(53, 53, 53);
  width: 30rem;
  min-height: 40rem;
  max-height: 40rem;
  justify-content: space-around;
}

.hp{
  width: fit-content;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  display: flex;
  gap: 5px;
  display: flex;
  align-items: center;
  border: black 2px solid;
  margin-bottom: 1rem;
}

.hp h4{
  font-weight: 400;
}
.hp span{
  font-weight: 400;
  font-size: 1.3rem;
}

.values{
  
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.values div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.types{
  margin: 2vh 0vh;
  display: flex;
  width: 50%;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: 500;
}

.types div{
  
  padding: 0.3rem 1rem;
  border-radius: 20px;
  border: black 2px solid;
}

.pokemonTop{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.id{
  width: fit-content;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  border: black 2px solid;
  
}
.id h4{
  font-weight: 400;
  font-size: 1.3rem;
}

@media only screen and (max-width: 600px){
  .poke-image{
    width: 70%;
    margin-top: 1rem;
    min-height: 200px;
  }
  button{
    margin-top: 3vh;
    font-size: 1.8rem;
    
  }
  .hp{
    margin-bottom: 0;
  }

  .pokemon{
    width: 90%;
    min-height: 30rem;
    max-height: 30rem;
  }
  .logo{
    display: none;
  }

  .nav{
    height: 10vh;
  }

  .main{
    padding-bottom: 5vh;
  }
}